<footer>
    <section class="text-center my-5">
        <p><ion-icon name="skull-outline"></ion-icon>© 2021 T^^B. ALL RIGHTS RESERVED.<ion-icon name="skull-outline"></ion-icon></p>
    </section>
</footer>