{% if app.user %}
<footer>
    <section class="text-center my-5">
        <p>© 2021 TㅆB BuildHub. ALL RIGHTS RESERVED.<img src="{{ asset('img/logo-2.png') }}" alt="logo"></p>
    </section>
</footer>
{% else %}
{% endif %}